# -----------------------------
# Go
# -----------------------------
# Бинарники Go
wg-bot
*.exe
*.dll
*.so
*.dylib

# Файлы модулей Go
go.sum
go.sum.tmp

# Временные файлы
*.tmp
*.temp

# Логи
*.log

# -----------------------------
# Конфигурации
# -----------------------------
# Файл с переменными окружения
.env

# Конфиги клиентов WireGuard
configs/*.conf

# -----------------------------
# IDE
# -----------------------------
# VSCode
.vscode/
.history/
*.code-workspace

# GoLand / JetBrains
.idea/
*.iml

# -----------------------------
# Временные каталоги
# -----------------------------
tmp/
temp/
